.moviesCardList {  
  width: 89.0625vw;
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  gap: 26px 2%;  
  justify-content: center;
  margin: 80px auto 0 auto;
  padding-bottom: 30px;
}

@media screen and (max-width: 834px) {
  .moviesCardList {
    width: 92.1875vw;
    grid-template-columns: repeat(auto-fit, 339px);
    gap: 32px 3.9%;
    margin: 80px auto 0 auto;    
  }
}

@media screen and (max-width: 400px) {
  .moviesCardList {
    grid-template-columns: 300px;
    margin-top: 50px;
    gap: 12px 2%;
  }
}