.moviesCardList {  
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  gap: 26px 2%;  
  justify-content: center;
  margin-top: 80px;
  padding-bottom: 30px;
}

@media screen and (max-width: 1024px) {
  .moviesCardList {
    outline: solid 2px green;
  }
}

@media screen and (max-width: 320px) {
  .moviesCardList {
    outline: solid 1px blue;
  }
}