.moviesCardList {
  outline: solid 3px red;
}

@media screen and (max-width: 1024px) {
  .moviesCardList {
    outline: solid 2px green;
  }
}

@media screen and (max-width: 320px) {
  .moviesCardList {
    outline: solid 1px blue;
  }
}