.movies {
  outline: solid 3px red;
  max-width: 1140px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .movies {
    outline: solid 2px green;
  }
}

@media screen and (max-width: 320px) {
  .movies {
    outline: solid 1px blue;
  }
}