.aboutProject {  
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  margin: 0 70px; 
  padding: 92px 0 96px 0;
}

.aboutProject__container{
  display: flex;
  flex-direction: column;
}

.aboutProject__description{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  margin-top: 70px;
}

.aboutProject__part{
  display: flex;
  flex-direction: column;
  
}
.aboutProject__subtitle{
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: -0.04em;
}

.aboutProject__text{
  margin: 26px auto 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}

.aboutProject__progress{
  margin-top: 110px;
  display: grid;
  grid-template-columns: 20% 80%;
}

.aboutProject__position{
  display: flex;
  flex-direction: column;
}

.aboutProject__value{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  background-color: #2BE080;
  padding: 9px 0 9px 0;
  margin: 0;
}

.aboutProject__value_color_grey{
  background-color: #F2F2F2;
}

.aboutProject__type{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #A0A0A0;
  margin-top: 16px;
}


@media screen and (max-width: 768px) {
  .aboutProject {
    max-width: 668px;
    margin: 0 50px;
    padding: 72px 0;
  }

  .aboutProject__description{    
    column-gap: 30px;    
  }

  .aboutProject__text{
    margin-top: 22px;
    font-size: 12px;
    line-height: 1.5;
  }

  .aboutProject__progress{
    margin-top: 94px;
    display: grid;
    grid-template-columns: 21% 1fr;
  }

  .aboutProject__subtitle{    
    line-height: 1.21;
  }
}

@media screen and (max-width: 430px) {

  .aboutProject {
    max-width: 284px;
    margin: 0 18px;
    padding: 55px 0;
  }

  .aboutProject__description{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 55px;
    margin-top: 60px;
  }

  .aboutProject__text{
    margin-top: 18px;
    font-size: 11px;
    line-height: 1.45;
  }
  .aboutProject__subtitle{
    font-size: 18px;
    line-height: 1.21;    
  }

  .aboutProject__progress{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 35.2% 1fr;
  }

  .aboutProject__value{    
    font-size: 11px;    
  }

  .aboutProject__type{
    font-weight: 400;
    font-size: 11px;
    margin-top: 13px;
  }
}