.aboutProject {  
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  margin: 0 auto; 
  padding: 110px 70px
}

.aboutProject__container{
  display: flex;
  flex-direction: column;
}

.aboutProject__description{
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

.aboutProject__part{
  display: flex;
  flex-direction: column;
}
.aboutProject__subtitle{
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.aboutProject__text{
  margin: 26px auto 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}

.aboutProject__progress{
  margin-top: 110px;
  display: grid;
  grid-template-columns: 20% 80%;
}

.aboutProject__position{
  display: flex;
  flex-direction: column;
}

.aboutProject__value{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background-color: #2BE080;
  padding: 9px 0 9px 0;
  margin: 0;
}

.aboutProject__value_color_grey{
  background-color: #F2F2F2;
}

.aboutProject__type{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;

  text-align: center;

  color: #A0A0A0;
  margin-top: 14px;
}


@media screen and (max-width: 1024px) {
  .aboutProject {
    outline: solid 2px green;
  }
}

@media screen and (max-width: 320px) {
  .aboutProject {
    outline: solid 1px blue;
  }
}