.popup {  
  background-size: cover;  
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
}

.popup_opened{
  visibility: visible;
}

.popup__container{
  margin-right: 0;
  display: flex;
  flex-direction: column;  
  align-items: center;
  color: black;
  width: 100%;
  max-width: 520px;
  height: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: white;
}

.popup__close{
  position: absolute;
  right: 28px;
  top: 26px;
  width: 23px;
  height: 23px;
  background: center center no-repeat url('../../images/closeMenu.svg');
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
}

.popup__close:hover{
  opacity: 0.5;
}

.popup__links{
  margin-top: 113px;  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__link{
  font-weight: 500;
  font-size: 18px;
  line-height: 1.21;
  text-align: right;
  text-decoration-line: none;
  color: black;
  margin-top: 28px;
}

.popup__link:hover{
  opacity: 0.5;
}

.popup__link_active{
  text-decoration-line: underline;
}

.popup__button{
  margin-top: 621px;
  width: 100px;
  height: 32px;
  background: #F9F9F9;
  border-radius: 20px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  text-decoration-line: none;
}

.popup__button:hover{
  opacity: 0.5;
}

@media screen and (max-width: 320px) {  
  .popup__close{
    right: 18px;
    top: 18px;
  }
  
  .popup__link{
    margin-top: 25px;
  }

  .popup__links{
    margin-top: 101px;
  }

  .popup__button{
    margin-top: 443px;
  }
}