.searchForm {  
  padding: 69px 70px 70px 70px;
  border-bottom: solid 1px #E8E8E8;
  width: 100%;
  box-sizing: border-box;
}

.searchForm__content{
  display: flex;
  grid-template-columns: 10% 50% 40% ;

  flex-direction: row;
  align-items: center;

  min-height: 72px;

  background: #F9F9F9;
  border-radius: 9px;
}

.searchForm__input{
  /* text__COLOR:font-2 */

  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;

  color: #A0A0A0;
  background: #F9F9F9;
  border: none;
  width: 100%;

}

.searchForm__form{
  display: flex;
  flex-direction: row;
  width: 73%;
}

.searchForm__button{
  width: 34px;
  height: 34px;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.searchForm__find-icon{
  width: 22px;
  height: 22px;
  margin-left: 25px;
  margin-right: 16px;
}

.searchForm__search-icon{
  width: 34px;
  height: 34px;
  
}

.searchForm__shortfilm{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left: solid 1px #E8E8E8;  
  justify-self: flex-end;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 30px;
}

.searchForm__slider{
  width: 36px;
  height: 20px;
  margin-left: 30px;
}

.searchForm__text{
  margin-left: 14px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
}

@media screen and (max-width: 1024px) {
  .searchForm {
    outline: solid 2px green;
  }
}

@media screen and (max-width: 320px) {
  .searchForm {
    outline: solid 1px blue;
  }
}