.techs {
  outline: solid 3px red;
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; 
  padding: 100px 70px
}

.techs__title{
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__about{
  max-width: 40%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__list{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  margin-top: 100px;
  padding: 0;
}

.techs__item{
  display: inline-flex;
  min-width: 90px;
  min-height: 60px;
  align-items: center;
  justify-content: center;

  background: #E8E8E8;
  border-radius: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;  
  letter-spacing: -0.04em;
  margin-right: 10px;
}

.techs__item:last-child{
  margin-right: 0;
}

@media screen and (max-width: 1024px) {
  .techs {
    outline: solid 2px green;
  }
}

@media screen and (max-width: 320px) {
  .techs {
    outline: solid 1px blue;
  }
}