.footer {
  padding: 80px 70px 20px 70px;
  width: 100%;
  box-sizing: border-box;
}

.footer__info{
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  text-align: center;
  color: #A0A0A0;
  text-align: center;
  border-bottom: 1px solid #E8E8E8;  
  padding-bottom: 20px;
}

.footer__container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer__list{
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.footer__item{
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  text-align: right;
  color: #000000;
  margin: 0;
  margin-right: 20px;
  text-decoration-line: none;
}

.footer__item:last-child{
  margin-right: 0;
}

.footer__copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  color: #000000;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .footer {
    padding-bottom: 36px;
  }
}



@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
